@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');


:root {
/*Colors*/
    --primari: #FDB827;
    --dark: #233506;
    --light: #FFFFFF;
    --bg: #FFF9F2;
    --secondary: #FF800B;
    /*Sizes*/
    --content_widht: 1170px;
}
* {
    margin: 0;
    box-sizing: border-box;

}


